tasks-connector/generated-sources/mule/META-INF/mule-google-tasks.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:ns2="http://www.mulesoft.org/schema/mule/devkit" xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://www.mulesoft.org/schema/mule/google-tasks">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
  <xs:import schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.0.xsd" namespace="http://www.springframework.org/schema/beans"></xs:import>
  <xs:import schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd" namespace="http://www.mulesoft.org/schema/mule/core"></xs:import>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" name="config-with-oauth" substitutionGroup="mule:abstract-extension" ns2:javaClass="org.mule.module.google.task.adapters.GoogleTasksConnectorOAuth2Adapter">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractExtensionType">
          <xs:annotation>
            <xs:documentation>Google Tasks Cloud connector.
This connector covers almost all the Google Tasks API v3 using OAuth2 for authentication.</xs:documentation>
          </xs:annotation>
          <xs:sequence>
            <xs:element name="oauth-callback-config" maxOccurs="1" minOccurs="1">
              <xs:annotation>
                <xs:documentation>Config for http callbacks.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="mule:abstractExtensionType">
                    <xs:attribute name="localPort" use="optional" type="xs:string"></xs:attribute>
                    <xs:attribute name="remotePort" use="optional" type="xs:string"></xs:attribute>
                    <xs:attribute name="domain" use="optional" type="xs:string"></xs:attribute>
                    <xs:attribute name="async" default="false" use="optional" type="xs:boolean"></xs:attribute>
                    <xs:attribute name="path" use="optional" type="xs:string"></xs:attribute>
                    <xs:attribute name="connector-ref" use="optional" type="xs:string"></xs:attribute>
                    <xs:attribute name="defaultAccessTokenId" use="optional" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>A Mule Expression to use as access token id</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="oauth-store-config" maxOccurs="1" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Configuration element for storage of access tokens</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="mule:abstractExtensionType">
                    <xs:attribute name="objectStore-ref" use="required" type="xs:string"></xs:attribute>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="name" use="optional" type="xs:string">
            <xs:annotation>
              <xs:documentation>Give a name to this configuration so it can be later referenced by config-ref.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="consumerKey" use="required" type="xs:string">
            <xs:annotation>
              <xs:documentation>The OAuth2 consumer key</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="consumerSecret" use="required" type="xs:string">
            <xs:annotation>
              <xs:documentation>The OAuth2 consumer secret</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="scope" default="https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/tasks" use="optional" type="xs:string">
            <xs:annotation>
              <xs:documentation>The OAuth scopes you want to request</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="applicationName" default="Mule-GoogleTasksConnector/1.0" use="optional" type="xs:string">
            <xs:annotation>
              <xs:documentation>Application name registered on Google API console</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="accessTokenUrl" default="https://accounts.google.com/o/oauth2/token" use="optional" type="xs:string">
            <xs:annotation>
              <xs:documentation>The URL defined by the Service Provider to obtain an access token</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/google-tasks" name="onNoToken" default="EXCEPTION" use="optional" type="OnNoTokenPolicyEnumType">
            <xs:annotation>
              <xs:documentation>The URL defined by the Service Provider to obtain an access token</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="authorizationUrl" default="https://accounts.google.com/o/oauth2/auth" use="optional" type="xs:string">
            <xs:annotation>
              <xs:documentation>The URL defined by the Service Provider where the resource owner will be redirected to grant authorization to the connector</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/google-tasks" xmlns:mule="http://www.mulesoft.org/schema/mule/core" name="authorize" substitutionGroup="mule:abstract-message-processor" type="AuthorizeType">
    <xs:annotation>
      <xs:documentation>Starts OAuth authorization process. It must be called from a flow with an http:inbound-endpoint.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/google-tasks" xmlns:mule="http://www.mulesoft.org/schema/mule/core" name="unauthorize" substitutionGroup="mule:abstract-message-processor" type="UnauthorizeType">
    <xs:annotation>
      <xs:documentation>Unauthorizes the connector, forcing to re-use authorize again before accessing any protected message processor.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AuthorizeType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute name="config-ref" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="state" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Any value that you wish to be sent with the callback</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/google-tasks" name="access_type" default="online" use="optional" type="AccessTypeEnumType">
          <xs:annotation>
            <xs:documentation></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/google-tasks" name="force_prompt" default="auto" use="optional" type="ForcePromptEnumType">
          <xs:annotation>
            <xs:documentation></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="accessTokenUrl" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>The URL defined by the Service Provider to obtain an access token</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="accessTokenId" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>The Id with which the obtained access token will be stored. If not provided, then it will be the config name</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="authorizationUrl" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>The URL defined by the Service Provider where the resource owner will be redirected to grant authorization to the connector</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UnauthorizeType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute name="accessTokenId" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>The id of the access token that will be used to authenticate the call</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="config-ref" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/google-tasks" xmlns:mule="http://www.mulesoft.org/schema/mule/core" name="get-task-lists" substitutionGroup="mule:abstract-message-processor" type="GetTaskListsType">
    <xs:annotation>
      <xs:documentation>Returns all the authenticated user's task lists.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GetTaskListsType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute name="config-ref" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="accessTokenId" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>The id of the access token that will be used to authenticate the call</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/google-tasks" name="fetchSize" default="100" use="optional" type="integerType">
          <xs:annotation>
            <xs:documentation>The amount of items to fetch on each invocation to the data source</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/google-tasks" xmlns:mule="http://www.mulesoft.org/schema/mule/core" name="get-task-list-by-id" substitutionGroup="mule:abstract-message-processor" type="GetTaskListByIdType">
    <xs:annotation>
      <xs:documentation>Returns the authenticated user's specified task list</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GetTaskListByIdType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute name="config-ref" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="taskListId" default="@default" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Task list identifier.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="accessTokenId" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>The id of the access token that will be used to authenticate the call</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/google-tasks" xmlns:mule="http://www.mulesoft.org/schema/mule/core" name="insert-task-list" substitutionGroup="mule:abstract-message-processor" type="InsertTaskListType">
    <xs:annotation>
      <xs:documentation>Creates a new task list and adds it to the authenticated user's task lists.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="InsertTaskListType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute name="config-ref" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="taskList-ref" default="#[payload]" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>the taskList to be inserted</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="accessTokenId" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>The id of the access token that will be used to authenticate the call</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/google-tasks" xmlns:mule="http://www.mulesoft.org/schema/mule/core" name="update-task-list" substitutionGroup="mule:abstract-message-processor" type="UpdateTaskListType">
    <xs:annotation>
      <xs:documentation>Updates the authenticated user's specified task list.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="UpdateTaskListType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute name="config-ref" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="taskList-ref" default="#[payload]" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>an instance of  with the task list's new state</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="taskListId" default="@default" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>task list identifier</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="accessTokenId" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>The id of the access token that will be used to authenticate the call</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/google-tasks" xmlns:mule="http://www.mulesoft.org/schema/mule/core" name="delete-task-list" substitutionGroup="mule:abstract-message-processor" type="DeleteTaskListType">
    <xs:annotation>
      <xs:documentation>Deletes the authenticated user's specified task list.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DeleteTaskListType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute name="config-ref" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="taskListId" default="@default" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Task list identifier.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="accessTokenId" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>The id of the access token that will be used to authenticate the call</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/google-tasks" xmlns:mule="http://www.mulesoft.org/schema/mule/core" name="get-tasks" substitutionGroup="mule:abstract-message-processor" type="GetTasksType">
    <xs:annotation>
      <xs:documentation>Returns all tasks in the specified task list. This method accepts a number
of filtering attributes. The one for which no values is specified will not be used
when filtering</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GetTasksType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute name="config-ref" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="taskListId" default="@default" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Task list identifier</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="completedMin" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Lower bound for a task's completion date (as a RFC 3339 timestamp) to filter by</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="completedMax" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Upper bound for a task's completion date (as a RFC 3339 timestamp) to filter by</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="dueMin" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Lower bound for a task's due date (as a RFC 3339 timestamp) to filter by</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="dueMax" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Upper bound for a task's due date (as a RFC 3339 timestamp) to filter by</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="updatedMin" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Lower bound for a task's last modification time (as a RFC 3339 timestamp) to filter by</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/google-tasks" name="showDeleted" default="false" use="optional" type="booleanType">
          <xs:annotation>
            <xs:documentation>Flag indicating whether deleted tasks are returned in the result</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/google-tasks" name="showHidden" default="false" use="optional" type="booleanType">
          <xs:annotation>
            <xs:documentation>Flag indicating whether hidden tasks are returned in the result</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/google-tasks" name="showcompleted" default="false" use="optional" type="booleanType">
          <xs:annotation>
            <xs:documentation>Flag indicating whether completed tasks are returned in the result</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="accessTokenId" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>The id of the access token that will be used to authenticate the call</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/google-tasks" name="fetchSize" default="100" use="optional" type="integerType">
          <xs:annotation>
            <xs:documentation>The amount of items to fetch on each invocation to the data source</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/google-tasks" xmlns:mule="http://www.mulesoft.org/schema/mule/core" name="get-task-by-id" substitutionGroup="mule:abstract-message-processor" type="GetTaskByIdType">
    <xs:annotation>
      <xs:documentation>Returns the specified task.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GetTaskByIdType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute name="config-ref" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="taskListId" default="@default" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Task list identifier</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="taskId" use="required" type="xs:string">
          <xs:annotation>
            <xs:documentation>Task identifier</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="accessTokenId" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>The id of the access token that will be used to authenticate the call</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/google-tasks" xmlns:mule="http://www.mulesoft.org/schema/mule/core" name="insert-task" substitutionGroup="mule:abstract-message-processor" type="InsertTaskType">
    <xs:annotation>
      <xs:documentation>Creates a new task on the specified task list</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="InsertTaskType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute name="config-ref" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="taskListId" default="@default" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Task list identifier</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="task-ref" default="#[payload]" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>instance of  containing the state of the task to be inserted</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="accessTokenId" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>The id of the access token that will be used to authenticate the call</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/google-tasks" xmlns:mule="http://www.mulesoft.org/schema/mule/core" name="update-task" substitutionGroup="mule:abstract-message-processor" type="UpdateTaskType">
    <xs:annotation>
      <xs:documentation>Updates the specified task.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="UpdateTaskType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute name="config-ref" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="taskListId" default="@default" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Task list identifier</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="taskId" use="required" type="xs:string">
          <xs:annotation>
            <xs:documentation>Task identifier.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="task-ref" default="#[payload]" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>instance of  containing the state we want the updated task to have</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="accessTokenId" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>The id of the access token that will be used to authenticate the call</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/google-tasks" xmlns:mule="http://www.mulesoft.org/schema/mule/core" name="delete-task" substitutionGroup="mule:abstract-message-processor" type="DeleteTaskType">
    <xs:annotation>
      <xs:documentation>Deletes the specified task from the task list.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DeleteTaskType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute name="config-ref" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="taskListId" default="@default" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Task list identifier</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="taskId" use="required" type="xs:string">
          <xs:annotation>
            <xs:documentation>Task identifier.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="accessTokenId" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>The id of the access token that will be used to authenticate the call</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/google-tasks" xmlns:mule="http://www.mulesoft.org/schema/mule/core" name="move" substitutionGroup="mule:abstract-message-processor" type="MoveType">
    <xs:annotation>
      <xs:documentation>Moves the specified task to another position in the task list. This can include putting it as a
child task under a new parent and/or move it to a different position among its sibling tasks.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="MoveType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute name="config-ref" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="taskListId" default="@default" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Task list identifier</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="taskId" use="required" type="xs:string">
          <xs:annotation>
            <xs:documentation>identifier for the task being moved.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="parentId" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Parent task identifier. If the task is created at the top level, this parameter is omitted</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="previousId" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>New previous sibling task identifier. If the task is moved to the first position among its siblings, this parameter is omitted</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="accessTokenId" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>The id of the access token that will be used to authenticate the call</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/google-tasks" xmlns:mule="http://www.mulesoft.org/schema/mule/core" name="clear-tasks" substitutionGroup="mule:abstract-message-processor" type="ClearTasksType">
    <xs:annotation>
      <xs:documentation>Clears all completed tasks from the specified task list. The affected tasks will be marked as
'hidden' and no longer be returned by default when retrieving all tasks for a task list.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ClearTasksType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute name="config-ref" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="taskListId" default="@default" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Task list identifier</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="accessTokenId" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>The id of the access token that will be used to authenticate the call</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="AccessTypeEnumType">
    <xs:annotation>
      <xs:documentation></xs:documentation>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="online">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="offline">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="ForcePromptEnumType">
    <xs:annotation>
      <xs:documentation></xs:documentation>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="auto">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="force">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="OnNoTokenPolicyEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="EXCEPTION"></xs:enumeration>
          <xs:enumeration value="STOP_FLOW"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="integerType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:integer"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="decimalType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:decimal"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="floatType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:float"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="doubleType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:double"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="dateTimeType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:dateTime"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="longType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:long"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="byteType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:byte"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="booleanType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:boolean"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="anyUriType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:anyURI"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="charType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"></xs:minLength>
          <xs:maxLength value="1"></xs:maxLength>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
</xs:schema>